

<div class="text-center">
    <h1>Home</h1>
    <br/>
    <br />
    <h4>Nie masz żadnych powiadomień</h4>
    <br />
    <a href="/group">
        <button class="btn btn-primary mr-1">Przejdź do twoich grup</button>
    </a>
</div>