@using Splitwiser.Models.Group;
@model GroupEntity

<div class="text-center">
	<h1>Utwórz Grupę</h1>
	<br />
	@using (Html.BeginForm("Create", "Group", FormMethod.Post))
	{
		<span>Tytuł</span> @Html.TextBoxFor(x => x.GroupName)
		<br />
		@Html.ValidationSummary()
		<button class="btn btn-primary mr-1" type="submit">Dodaj</button>
	}
	<br/>
	<a href="/group/">
		<button class="btn btn-outline-primary">Powrót</button>
	</a>

</div>

