@using Splitwiser.Models.Group
@model IEnumerable<GroupEntity>

<div class="text-center">
    <h1>Twoje Grupy</h1>

    <br />
    <a href="/Group/create">
        <button class="btn btn-primary mr-1">Utwórz grupę</button>
    </a>
    <br />
    <br />
    <br />

    @foreach (var group in Model)
    {
        <div class="col-xl-6 col-lg-4 mb-4 container center-table">
            <div class="card border-primary h-100 container center-table">
                <div class="card-body">
                    @* action to nazwa metody  *@
                    <a asp-action="@group.Id" asp-controller="group" >@group.GroupName</a>
                </div>
            </div>
        </div>
    }
</div>
